Latar Belakang dari Dataset Penjualan Mobil :
- Keterkaitan Fitur Mobil: Menyediakan informasi tentang hubungan antara berbagai fitur mobil, seperti model, tahun keluaran, daya kuda (hp), berat, dan
  harga. Hal ini dapat membantu mengidentifikasi pola atau korelasi yang dapat digunakan untuk pengambilan keputusan lebih lanjut.
- Pemahaman Variabilitas Harga: Memberikan wawasan tentang variasi harga mobil berdasarkan atribut-atribut tertentu. Ini dapat melibatkan penelusuran
  perbedaan harga antara mobil dengan spesifikasi yang serupa atau pengidentifikasian faktor-faktor utama yang mempengaruhiÂ harga.

Tujuan dari Dataset Penjualan Mobil :
- Melakukan analisis tren harga mobil berdasarkan model dan tahun keluaran. Dengan melihat perubahan harga rata-rata tiap model mobil sepanjang
  beberapa tahun, Anda bisa mempelajari bagaimana harga mobil cenderung berubah seiring waktu. 
- Memvisualisasikan data untuk melihat distribusi dan perbandingan harga mobil berdasarkan model, tahun, dan spesifikasi lainnya.

In [ ]:
import mysql.connector
import sys

try:
    conn = mysql.connector.connect(
        user='root',
        password='',
        host='localhost',
        database='car_price',
        port=3306
    )

except mysql.connector.Error as e:
    print('Error %s' % e)
    
else:
    print('Berhasil Terkoneksi dengan MySQL server')
    conn.close()

In [ ]:
import mysql.connector
import sys

try:
    conn = mysql.connector.connect(
        user='root',
        password='',
        host='localhost', 
        database='car_price',
        port=3306
    )

    sql = "SELECT `Car Make`, `Car Model`, `Year`, `Engine Size (L)`, `Horsepower`, `Torque (lb-ft)`, `0-60 MPH Time (seconds)`, `Price (in USD)` FROM sport_car_price"
    
    try:
        cur = conn.cursor()
        cur.execute(sql)
            
        results = cur.fetchall()
        
        print("{:<15}{:<25}{:<10}{:<15}{:<15}{:<15}{:<15}{:<10}".format('Car Make','Car Model','Year','Engine Size','Horsepower','Torque','0-60 MPH','Price'))
        
        for row in results:
            car_make = row[0]
            car_model = row[1] 
            year = row[2]
            engine_size = row[3]
            horsepower = row[4]
            torque = row[5]
            zero_to_60 = row[6] 
            price = row[7]

            print("{:<15}{:<25}{:<10}{:<15}{:<15}{:<15}{:<15}{:<10}".format(car_make,car_model,year,engine_size,horsepower,torque,zero_to_60,price))

                            
    except mysql.connector.DataError:
        print("Pengambilan data error")
        
    else:
        cur.close()
        
except mysql.connector.Error as e:
    print('Gagal koneksi ke MySQL: %s' % e)

else:
    print('Berhasil koneksi ke MySQL')
    conn.close()

EKSPLORASI DATA:

- Menambahkan kolom country (asal negara tiap merek)
- Memeriksa jumlah baris dan kolom
- Menampilkan data teratas
- Menampilkan tipe data tiap kolom
- Memeriksa missing value / data kosong pada setiap kolom

In [5]:
import mysql.connector 
from sqlalchemy import create_engine
import pandas as pd

try:
    conn = mysql.connector.connect(
        user='root',
        password='', 
        host='localhost',
        database='car_price' 
  )
  
    sql = "SELECT * FROM sport_car_price"

    cur = conn.cursor()
    cur.execute(sql)

    results = cur.fetchall()

    df = pd.DataFrame(results, columns=[col[0] for col in cur.description])

    df['Country'] = df['Car Make'].apply(lambda nama: {
        'Porsche': 'Jerman',
        'Lamborghini': 'Italia',
        'Ferrari': 'Italia',
        'Audi': 'Jerman',
        'McLaren': 'Inggris',
        'BMW': 'Jerman',
        'Mercedes-Benz': 'Jerman',
        'Mercedes-AMG': 'Jerman',
        'Chevrolet': 'Amerika',
        'Ford': 'Amerika',
        'Nissan': 'Jepang',
        'Aston Martin': 'Inggris',
        'Bugatti': 'Prancis',
        'Dodge': 'Amerika',
        'Jaguar': 'Inggris',
        'Koenigsegg': 'Swedia',
        'Lexus': 'Jepang',
        'Lotus': 'Inggris',
        'Maserati': 'Italia',
        'Pagani': 'Italia',
        'Rimac': 'Kroasia',
        'Rolls-Royce': 'Inggris',
        'Tesla': 'Amerika',
        'Toyota': 'Jepang',
        'TVR': 'Inggris',
        'Ultima': 'Inggris',
        'W Motors': 'Lebanon',
        'Alpine': 'Prancis',
        'Alfa Romeo': 'Italia',
        'Bentley': 'Inggris',
        'Subaru': 'Jepang',
        'Acura': 'Jepang',
        'Ariel': 'Inggris',
        'Kia': 'Korea Selatan',
        'Pininfarina': 'Italia',
        'Shelby': 'Amerika',
        'Mazda': 'Jepang',
    }.get(nama, 'Tidak Diketahui'))

    engine = create_engine('mysql+mysqlconnector://root:@localhost/car_price')
    df.to_sql(name='sport_car_price_updated', con=engine, if_exists='replace', index=False)
    
    baris, kolom = df.shape
    print(f"Data frame memiliki {baris} baris dan {kolom} kolom\n")
    
    jumlah_data_teratas = df.head().to_string(index=False) 
    print(f"Jumlah data teratas:\n{jumlah_data_teratas}\n")
    
    tipe_data = df.dtypes
    print(f"Tipe data setiap kolom:\n{tipe_data}\n")
    
    data_kosong = df.isnull().sum().sum()
    print(f"Jumlah Data kosong pada setiap kolom:{data_kosong}\n")
    
    
except mysql.connector.Error as e:
  print("Error %s" % e)
  
finally:
    if 'conn' in locals() and conn.is_connected():
        conn.close()
        print('Berhasil terkoneksi dengan MySQL server')

Data frame memiliki 1007 baris dan 9 kolom

Jumlah data teratas:
   Car Make Car Model  Year Engine Size (L) Horsepower Torque (lb-ft) 0-60 MPH Time (seconds) Price (in USD) Country
    Porsche       911  2022               3        379            331                       4        101,200  Jerman
Lamborghini   Huracan  2021             5.2        630            443                     2.8        274,390  Italia
    Ferrari   488 GTB  2022             3.9        661            561                       3        333,750  Italia
       Audi        R8  2022             5.2        562            406                     3.2        142,700  Jerman
    McLaren      720S  2021               4        710            568                     2.7        298,000 Inggris

Tipe data setiap kolom:
Car Make                   object
Car Model                  object
Year                        int64
Engine Size (L)            object
Horsepower                 object
Torque (lb-ft)             object
0-60 MPH Time (seconds)    object
Price (in USD)             object
Country                    object
dtype: object

Jumlah Data kosong pada setiap kolom:0

Berhasil terkoneksi dengan MySQL server

DATA CLEANING:

- Cek Outlier 
- Visualisasi Distribusi pada setiap kolom

In [ ]:
import mysql.connector
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

try:
    conn = mysql.connector.connect(
    user='root',
    password='', 
    host='localhost',
    database='car_price' 
  )
  
    sql = "SELECT * FROM sport_car_price_updated"

    cur = conn.cursor()
    cur.execute(sql)

    results = cur.fetchall()

    df = pd.DataFrame(results, columns=[col[0] for col in cur.description])
    
    z = np.abs(stats.zscore(df._get_numeric_data()))
    df = df[(z < 3).all(axis=1)]
    print(df.to_string(index=False))
   
    fig, axes = plt.subplots(nrows=3, ncols=3, figsize=(12, 12))

    for i, col in enumerate(df.columns):
        sns.histplot(df[col], ax=axes[i//3, i%3])
        axes[i//3, i%3].set_title(f'Distribusi dari {col}')
    
    plt.tight_layout()
    plt.show()
      
    
except mysql.connector.Error as e:
  print("Error %s" % e)
  
finally:
  conn.close()
  print('Berhasil terkoneksi dengan MySQL server')

ANALISIS DATA:

- Analisis tren harga mobil berdasarkan model dan tahun keluaran

In [9]:
import mysql.connector
import sys

try:
    conn = mysql.connector.connect(
        user='root',
        password='',
        host='localhost', 
        database='car_price',
        port=3306
    )

    sql = "SELECT * FROM sport_car_price_updated"
    
    try:
        cur = conn.cursor()
        cur.execute(sql)
            
        results = cur.fetchall()
        
        df = pd.DataFrame(results, columns=[col[0] for col in cur.description])
        
        df['Price (in USD)'] = df['Price (in USD)'].str.replace(',', '').astype(float)
        
        grouped = df.groupby(['Car Make','Car Model', 'Year'])['Price (in USD)'].mean().reset_index()
        
        print(grouped.sort_values("Car Model"))

                            
    except mysql.connector.DataError:
        print("Pengambilan data error")
        
    else:
        cur.close()
        
except mysql.connector.Error as e:
    print('Gagal koneksi ke MySQL: %s' % e)

else:
    print('Berhasil koneksi ke MySQL')
    conn.close()

        Car Make    Car Model  Year  Price (in USD)
209     Polestar            1  2021   155000.000000
196       Nissan         370Z  2021    30496.111111
197       Nissan   370Z Coupe  2020    30090.000000
199       Nissan   370Z Nismo  2021    46164.000000
198       Nissan   370Z Nismo  2020    46498.750000
..           ...          ...   ...             ...
243  Rolls-Royce       Wraith  2021   331935.714286
56           BMW      Z4 M40i  2022    63700.000000
57           BMW  Z4 Roadster  2022    50000.000000
58           BMW           i8  2020   148500.000000
59           BMW           i8  2022   147833.333333

[262 rows x 4 columns]
Berhasil koneksi ke MySQL